<div id="footer">
  <div id="jquery_jplayer_2" class="jp-jplayer"></div>
  <hr/>
  <div style="width: 50%; display: inline-block">
    Nous suivre:
    <a href="https://www.youtube.com/user/didafta">
      <img src="static/images/skin/youtube.png" alt="Youtube">
    </a>
    <a href="https://www.facebook.com/Didafta">
      <img src="static/images/skin/facebook.png" alt="facebook">
    </a>
  </div>
  <div>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0">
      <img alt="Creative Commons License" style="border-width:0;margin-" src="static/images/skin/80x15.png">
    </a>
  </div>
  <div style="right:0;position: absolute">
    <i class="fa fa-copyright"></i>
    Didaf'Ta&nbsp;&amp;&nbsp;<a href="http://youni.karanty.org/">karanty.org</a>
  </div>
</div>